*{
    margin: auto;
    padding: 0;
}

#cabecera{
    height: 70px;
    width: auto;
    border-bottom: 5px solid white;
    background-color: aquamarine;
}

#cabecera li{
  height: 40px;
margin: auto;  
width: 24.8%;
display: inline-block; 
text-decoration: none;
text-align: center;
padding-top: 10px;
padding-bottom: 10px;
font-size: 25px;
color: black;
font-family: 'Poppins', sans-serif;
    background-color: rgb(224, 240, 234);
}

#cabecera li a{
   font-size: 30px;
  text-decoration: none;
  text-align: center;
  
  }












.contenedoruno ul a{
    margin: auto;
    display: block;
    width: 400px;
    height: 400px;
    text-decoration: none;
    background-color: antiquewhite;
    float: left;
    margin: 3rem;

}


.contenedordos ul a{
    margin: auto;
    display: block;
    width: 400px;
    height: 400px;
    text-decoration: none;
    background-color: antiquewhite;
    float: left;
    margin: 3rem;

}

.contenedoruno{
    height: 600px;
width: auto;

    background-color: rgb(0, 0, 0);
}



.contenedordos{
    height: 600px;
width: auto;

    background-color: rgb(251, 251, 251);
}