div{
    background-color: #000;
    width: 200px;
    height: 200px;
    margin: 10px;
    float: left;
}

#contenedor{
    width: 880px;
    height: auto;
    margin: auto;
    float: none;
    overflow: hidden;
    background-color: red;
}