#img{
    width: 55mm;
    height: 85mm;
    position: absolute;
    margin: 5mm;
    }

#W01{
   TOP:10mm;
   left:17mm;

}

#W02{
    TOP:10mm;
    left:77mm;
 }

 #W03{
    TOP:10mm;
    left:137mm;
 }

 #W04{
    TOP:100mm;
    left:17mm;

 }

 #W05{
    TOP:100mm;
    left:77mm;

 }
 #W06{
    TOP:100mm;
    left:137mm;

 }

 #W07{
    TOP:190mm;
    left:17mm;

 }
 #W08{
    TOP:190mm;
    left:77mm;

 }

 #W09{
    TOP:190mm;
    left:137mm;

 }
