body {

	background-color: rgb(255, 255, 255);

}

body:before {
	font-weight: 10px;
	font-size: 100px;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	text-align: center;
	content: "Ps";
	top: 20px;
	line-height: 140px;
	display: block;
	height: 150px;
	width: 150px;
	margin: auto;
	position: relative;
	color: rgb(101, 181, 220);
	background-color: midnightblue;
	border-radius: 30px;
}

#contenedor {

	width: 1050px;
	height: 800px;
	margin: auto;

}

.efecte {
	color: white;
	font-size: 8PX;
	background: rgb(129, 28, 28);
	margin: 30px;
	text-align: center;
	width: 150px;
	height: 280px;
	float: left;
}

.img {

	background-image: url(./img/cereza.jpeg);
	width: 150px;
	height: 250px;
	background-size: cover;
	background-color: brown;
}

.DESENFOCAO .img {
	filter: blur(5px);
}

.luminosidad .img {
	filter: brightness(1,5);
}

.contraste .img {
	filter: contrast(200%);
}


.sombra .img {
	filter: drop-shadow(10px 5px 10px black)
}

.grises .img {
	filter: grayscale(50)
}

.tono .img {
	filter: hue-rotate(-50deg);
}

.invertir .img {
	filter: invert(70%);
}

.opacidad .img {
	filter: opacity(80%);
}

.saturacion .img {
	filter: saturate(30%);
}


.sepia .img {
	filter: sepia(100%);
}