*{
    margin: 0%;
    padding: 0%;
}
div{

 background-color: rgb(0, 0, 0);
    
}    
.cabecera{
    height: 80px;
width: 1000px;
  background-color: rgb(9, 9, 9);
}

.menu{
margin-right:10px;
    width: 195px;
    height: 180px;
    float: left;
    background-color: rgb(209, 146, 146);
}
.contenido{
    overflow-y: scroll;
    width: 590px;
    height: 700px;
    float: left;
    background-color: rgb(255, 255, 255);
}
.lateral{
    width: 195px;
    height: 180px;
    float: left;
    margin-left:10px;
    background-color: rgb(209, 146, 146);
}

.pie{
    width: 1000px;
  height: 50px;
clear: both;
}

.lateral ul{
    margin-left: 50px;
}

.menu ul{
margin-left: 40px;}

h1{
    padding: 10PX;
    
}

.contenido P{
    padding-left: 10PX;
}

.contenido H2{
    padding-left: 10PX;
}


.menu h2{
    padding-left: 30PX;
    padding-top: 20px;
}
.lateral h2{
    padding-left: 30PX;
    padding-top: 20px;
}

.cabecera h1{
  
    color: white;
   text-align: center;
}

.pie h1{
    color: white;
    text-align: center;
    font-size: 20px;
 }
 

p{
    padding: 10PX;
}

#contenedor{
    width: 1000px;
    background-color: white;
    margin: 0 auto;
    height: 900px;
  }
a{
    text-decoration: none;
}


.navegacion{
    background-color: rgb(205, 164, 164);
    margin: 0 auto;
    width: 380px;
}
.primernivel{
    display: inline-block;
    margin:0.25rem;
    background-color: rgb(255, 255, 255);
    padding: 0.25rem;
    height: 2rem;
    position: relative;
}

.primernivel:hover > .secundario{
    display:block;
    margin:0.25rem;
    background-color: rgb(174, 153, 244);
    padding: 0.25rem;
}

.segundonivel{
    background-color: rgb(186, 190, 221);
    display: block;
    font-size: 0.85rem;
    height: 2rem;
    top: 2rem;
    border-bottom: purple solid 1px;;
  
}

.segundonivel:hover{
    background-color: rgb(215, 196, 232);
    display: block;
    font-size: 0.85rem;
    height: 2rem;
    top: 2rem;
    border-bottom: purple solid 1px;;
  
}


.secundario{
    display: none;
    background-color: bisque;
    padding: 0;
    position: absolute;
    left:0;
   
}